@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 12% 85%;
    --foreground: 163 20% 41%;

    --card: 0 0% 100%;
    --card-foreground: 163 20% 41%;

    --popover: 0 0% 100%;
    --popover-foreground: 163 20% 41%;

    --primary: 163 20% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 160 12% 70%;
    --secondary-foreground: 163 20% 41%;

    --muted: 160 12% 56%;
    --muted-foreground: 0 0% 100%;

    --accent: 160 12% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 160 12% 85%;
    --input: 160 12% 85%;
    --ring: 163 20% 41%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
